DISCORD_BOT_TOKEN=
DISCORD_WELCOME_CHANNEL_ID=

# Youtube Announcement
YOUTUBE_CHANNEL_ID=
YOUTUBE_UPLOADS_PLAYLIST_ID=
YOUTUBE_API_KEY=
DISCORD_YOUTUBE_UPLOAD_ANNOUNCEMENT_CHANNEL_ID=
DISCORD_YOUTUBE_LIVE_ANNOUNCEMENT_CHANNEL_ID=

# Twitter / X
TWITTER_USERNAME=
DISCORD_TWITTER_CHANNEL_ID=
